/* ===================== */
/* RESPONSIVE NAVBAR     */
/* ===================== */
@media (max-width: 880px) {
  .navbar {
    backdrop-filter: none;
  }

  .navbar-menu {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.7rem;
    position: absolute;
    height: 100vh;
    width: 200px;
    top: 0;
    right: 0;
    padding: 5rem 1.5rem;
    box-shadow: 0 10px 10px var(--shadow);
    backdrop-filter: blur(10px);
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
  }

  .navbar-menu.active {
    display: flex;
    transform: translateX(0);
  }

  .navbar-toggle {
    display: block;
    z-index: 999;
  }

  .navbar-toggle.active .bar:nth-child(2) {
    opacity: 0;
  }

  .navbar-toggle.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .navbar-toggle.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

@media (max-width: 480px) {
  .navbar-container {
    padding: 0 1rem;
  }

  .navbar-logo {
    font-size: 1.7rem;
  }

  .navbar-menu li a {
    font-size: 1.2rem;
    padding: 3px 15px;
  }
}

/* ********************************* */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 65%;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 60%;
  }
}
